// COLORS
$color-white: #fff;
$color-grey: #777;
$color-black: rgba(40, 180, 131, 0.8);
$color-primary: rgba(126, 213, 111, 0.8);

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;