@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'layout/grid';

@import 'components/button';
@import 'components/composition';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* we want a 10px base - 10px (base) / 16px (default) */ 
/* 62.5% of the user's font browser settings */
/* rem's do not work < IE 9 */

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include query(phone) {
    font-size: 50%;
  }

  @include query(tab-land) { // width < 1200?
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
  }

  @include query(tab-port) { // width < 900?
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  @include query(big-desktop) {
    font-size: 75%; // 1 rem = 12px; 12px/16px = 75%
  }
}