@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'layout/grid';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* we want a 10px base - 10px (base) / 16px (default) */ 
/* 62.5% of the user's font browser settings */
/* rem's do not work < IE 9 */

html {
  font-size: 62.5%; 
}